<h1>STEP 2: Create News!</h1>

<%= render 'form' %>

<%= link_to 'Back to Articles', root_path, :class => 'links' %>

<style type='text/css'>

  a.links {
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
  }

</style>

